.balloonWrapper {
    position: relative;
}

.balloon {
    width: 6.3rem;
    height: 6.3rem;
    position: absolute;
    z-index: 1;
}

.balloon__1 {
    left: 5.6rem;
}

.balloon__2 {
    left: 1.9rem;
}

.balloon__3 {
    left: -11.3rem;
}

.balloon__4 {
    left: -7.5rem;
}