.mainCard {
    /* background: linear-gradient(180deg, rgba(67,107,85,1) 50%, rgba(99,162,151,1) 50%);
    color: var(--main-text-color); */
    /* width: 300px;
    height: 180px; */
    display: flex;
}

.inner {
    display: flex;
    background: var(--green-color);
    border-radius: 10px;
    width: 400px;
    height: 190px;
   overflow:hidden;
   transition: all .5s ease-in-out;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.12);
}

.mainCard__fullDesc {
    display: flex;
    align-items: center;
    width: 190px;
    clip-path: circle(80% at 0% 40%);
    /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
    transition: all .8s ease-in-out;
    background: var(--blue-color);
    text-align: center;
}

.fullDesc--text {
    color: var(--main-text-color);
    opacity: 0;
    object-fit: cover;
    font-size: 1.1rem;
}

.mainCard__header {
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1rem;
    padding-right: 0.5rem;
}

.mainCard__header h3 {
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
}

.mainCard__header p {
    font-size: 1.2rem;

}

.inner:hover .mainCard__header {
    display: none;
}

.inner:hover .mainCard__fullDesc {
    opacity: 1;
    flex:1;
    clip-path: none;    
    animation: arrow 0.8s forwards;
    padding: 1rem;
}

.inner:hover .fullDesc--text{
    opacity: 1;
}

@keyframes arrow {
    0%  {
        /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
    width: 200px;
        clip-path: circle(80% at 0% 40%);


    }
    50% {
        /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
    width:200px;
        clip-path: circle(80% at 0% 40%);

    }

    100% {
        width: 200px;
        clip-path: none;
    /* clip-path: circle(110% at 0% 0%); */

    }
}