.mainCard {
    color: var(--main-text-color);
    width: 300px;
    height: 180px;
}

.mainCard__header {
    background-color: var(--green-color);
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem 0;
    border-top-left-radius: 1.9rem;
    border-top-right-radius: 1.9rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.mainCard__desc {
    background-color: var(--blue-color);
    font-size: 1.5rem;
    padding: 1rem;
    text-align: left;
    border-bottom-left-radius: 1.9rem;
    border-bottom-right-radius: 1.9rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 90px;
}

.mainCard__desc:hover {
    overflow: visible;
    height: auto;
    border-top-left-radius: 1.9rem;
    border-top-right-radius: 1.9rem;
    transform: translateY(-45%) scale(1.1);
    transition: transform 0.8s ease-out;
    cursor: pointer;
}

.fullDesc {
    margin-top: 1rem;
    font-size: 16px;
}