.mainCard__inner {
    background-color: var(--green-color);
    width: 25rem;
    height: 11.9rem;
    display: flex;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.mainCard__fullDesc {
    background-color: var(--blue-color);
    width: 11.9rem;
    clip-path: circle(80% at 0% 40%);
    display: flex;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    transition: all .8s ease-in-out;
}

.mainCard__fullDesc--text {
    color: var(--main-text-color);
    font-size: 1.1rem;
    opacity: 0;
}

.mainCard__header {
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1rem;
    padding-right: 0.5rem;
}

.mainCard__header h3 {
    font-size: 1.8rem;
    font-weight: 700;
}

.mainCard__header p {
    font-size: 1.2rem;
}

.mainCard__inner:hover .mainCard__header {
    display: none;
}

.mainCard__inner:hover .mainCard__fullDesc {
    clip-path: none;    
    opacity: 1;
    flex: 1;
    animation: circle 0.8s forwards;
    padding: 1rem;
}

.mainCard__inner:hover .mainCard__fullDesc--text{
    opacity: 1;
    transition: opacity 0.5s 0.8s ease-in;
}

@keyframes circle {
    0%  {
        clip-path: circle(80% at 0% 40%);
    }
    50% {
        clip-path: circle(80% at 0% 40%);
    }

    100% {
        clip-path: none;
    }
}