.primaryButton {
    background-color: var(--primary-color);
    color: var(--main-text-color);
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 1.3rem;
    padding: 0.8rem 1.5rem;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}