.secondaryButton {
    background-color: var(--green-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    border-radius: 1.9rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    padding: 0.3rem 1.5rem;
    cursor: pointer;
}