.ticket {
    background-color: var(--secondary-text-color);
    color: var(--main-text-color);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding-top: 1.5rem;
}

.ticket__type {
    font-size: 1.5rem;
}

.ticket__info {
    border-bottom: 2px dotted #cecece;
    padding-bottom: 1rem;
}

.ticket__barcode {
    background-color: #cecece;
    color: var(--secondary-text-color);
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1rem;
    margin-top: auto;
}
