.ticketCard {
    background-color: var(--primary-color);
    color: var(--main-text-color);
    width: 18.8rem;
    height: 11.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    text-align: center;
    margin-top: 1rem;
}

.ticketCard__title {
    font-size: 2rem;
    font-weight: 700;
}

.ticketCard__desc {
    font-size: 1.3rem;
    font-weight: 400;
}

.ticketCard button {
    margin-top: auto;
}